/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/TUBES/*
/TUBES/
/TUBES
/Praktikum 4/*
/Praktikum 1/*
./essay.html
*.pdf
!spec/*.pdf
*.docx
!spec/*.docx
*.doc
!spec/*.doc